*{
    box-sizing: border-box;
}
body{
background-image: url('https://img.freepik.com/premium-photo/black-brick-wall-building_73152-3788.jpg'); 
background-repeat: no-repeat;
background-size: cover;
background-color: #000000;
}




.title{
    font-size: xx-large;
    margin: 10px;
    color: #fff;
}

.nav-pages ul {
margin:0;
padding:0;
display: flex;
}

.nav-pages li{
    list-style: none;
    cursor: pointer;
}

.nav-pages li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
}

.nav-pages li:hover {
    background-color: #3d3d3d;
}


nav{
    display: flex;
    background-color: 333;
    justify-content: space-between;
    font-family: 'DotGothic16', sans-serif;
    align-items: center;
}
.welcome-box{
    display: flex;
    justify-content: center;
    margin-top: 125px;

}
#welcome{
color: #fff;
font-family: 'DotGothic16', sans-serif;
font-size: 60px;

}

.button-wrap{
display: flex;
justify-content: center;
margin-top: 10px;
}

#play-me{
display: flex;
justify-content: center;
font-size: 40px;
box-shadow: inset 0 0 0 rgb(255, 255, 255);
border: none;
font-family: 'DotGothic16', sans-serif;
color: #ffffff;
background-color: #333;
padding: 50px 150px;
transition: ease-out 0.5s;
cursor: pointer;
}


#play-me:hover {
    box-shadow: inset 600px 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    color: black;
}

.rulebox1 {
display: flex;
justify-content: center;
background-color: #333;
margin-top: 80px;
margin-right: 200px;
margin-left: 200px;
}

.rulebox2 {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
    }
    
.rulebox3 {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 80px;
    margin-right: 200px;
    margin-left: 200px;
    }

.rulebox4 {
    display: flex;
    justify-content: center;
    background-color: #333;  
    margin-top: 80px;
    margin-right: 300px;
    margin-left: 300px;
}

#rules{
color: #fff;
font-family: 'DotGothic16', sans-serif;
font-size: medium;
}